<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <title>@ViewBag.Title</title>
</head>



<body>
    <div id="container">
       @Html.Partial("_banner.cshtml")
        <div>
            @RenderBody()
        </div>


           
        @Html.Partial("_footer.cshtml")
        </div>

    rendering sections here
    @RenderSection("Scripts", false)

</body>
</html>
