<!DOCTYPE html>

<html>
<head>

    <script src="~/content/Scripts/jquery-3.1.1.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    
    

    <link href="~/content/css/bottom-section/logo.css" rel="stylesheet" /> <!--main div logo-->
    <link href="~/content/css/bottom-section/searchBar.css" rel="stylesheet" /> <!--main div search-bar-->
    <link href="~/content/css/bottom-section/categoryDropdown.css" rel="stylesheet" /> <!--main div category-dropdown-->



    
    <!--main div register-->
    @if (ViewBag.Context.Identity.IsAuthenticated) {
        <link href="~/content/css/bottom-section/user.css" rel="stylesheet" />
        <link href="~/content/css/bottom-section/logout.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/content/css/bottom-section/signinModa.css" rel="stylesheet" /> <!--main div sign-in-->
        <link href="~/content/css/bottom-section/registeModal.css" rel="stylesheet" />
    }
    <link href="~/content/css/bottom-section/loader.css" rel="stylesheet" />
    <link href="~/content/css/bottom-section/successMessage.css" rel="stylesheet" />

    <link href="~/content/css/style.css" rel="stylesheet" />
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet" /> <!--some parts of bootstrap-->
   

</head>
<body>
    <div id="wrapper">
        <header>
            <section id="top-section">
                <div class="top-section">
                    <p>Phone Orders : 1546849889  &nbsp  |  &nbsp Mail To :   <a href="#">Ecommerce@email.com</a></p>
                </div>
            </section> <!--Top section done-->

            <section id="bottom-section">
                <div id="container">
                    @Html.Partial("~/Views/Shared/Header/bottomSection/_logoPartial.cshtml")
                    @Html.Partial("~/Views/Shared/Header/bottomSection/_categoryPartial.cshtml")
                    @Html.Partial("~/Views/Shared/Header/bottomSection/_searchBarPartial.cshtml")

                    @if (!ViewBag.Context.Identity.IsAuthenticated) { 
                        @Html.Partial("~/Views/Shared/Header/bottomSection/_signInPartial.cshtml")
                        @Html.Partial("~/Views/Shared/Header/bottomSection/_registerPartial.cshtml")
                    }
                    else
                    {
                        <div id="user-panel">
                            <a href="user/panel">@ViewBag.Context.Identity.Name.Split(',')[1]</a>
                        </div>

                        <div id="logout">
                            <a href="account/logout">Log Out</a>
                        </div>
                    }
                </div>
            </section>

        </header>
        <br />
        <br />
        <br />
        <br />
        
            
        <div id="content">
            @RenderBody()
        </div> 
    </div>


    <script src="~/content/js/categoryDropdown.js"></script>
    <script src="~/content/js/registerModal.js"></script>
    <script src="~/content/js/signinModal.js"></script>
    

    @if (!ViewBag.Context.Identity.IsAuthenticated) {
        
        <script src="~/content/ajax/signinAjax.js"></script>
        <script src="~/content/ajax/registerAjax.js"></script>

        <script>

            $(document).ready(function () {


                function loader(loading,loadingContent, signform) {
                    loadingContent.classList.add("loader-content");
                    signform.classList.add("hide");
                    loading.classList.add("show");
                }

                function loaderClose(loading, loadingContent, signform) {
                    loadingContent.classList.remove("loader-content")
                    loading.classList.remove("show");
                }

                function successMessage(success) {
                    success.classList.add("show");
                    location.reload();
                }

                


                initializeSignIn(loader, loaderClose, successMessage);
                initializeRegister(loader, loaderClose, successMessage);

            })

        </script>
    } 
    
    <script>
    function loadCategories() {
                    var categoryDropdown = $("#category-dropdown-content")

                    $.ajax({
                        type: 'GET',
                        url: 'api/categories',
                        success: function (data) {
                            $(data).each(function (index, item) {
                                categoryDropdown.append("<li>" + item + "</li>")
                            })
                        }

                    })

    }
    loadCategories();
    </script>
</body>
</html>
