<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Areas/Admin/content/style/layoutStyle.css" rel="stylesheet" />
    @RenderSection("Css",false)
</head>
<body>
    <div id="container">
        <div id="side-nav">
            <div id="side-nav-content">
                <ul>
                    <li><a href="/admin/home/index">Admin Panel</a><li>
                    <li><a href="/admin/products/list">Product Panel</a></li>
                    <li><a href="/admin/products/new">New Product</a></li>
                    @RenderSection("CategoryList", false)
                </ul>
            </div>
        </div>
        <div id="content">
            <div id="content-inside">
                @RenderBody()
            </div>
        </div>
        <div id="clear"></div>
    </div>
    @RenderSection("Scripts",false)
</body>
</html>
